{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}">

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet" />
    
</head>
<body>
    <!-- Base header--> 
  <!-------------------------------------------- Base HTML donde se rescata la url para cambiar el color del logo dinamicamente------------------------------------------>
  {%url 'Index' as view %}
    <!-------------------------------------------- se solicita autenticacion------------------------------------------>
    {%if request.user.is_authenticated%} 
      <!-------------------------------------------- se ordenan los grupos------------------------------------------>
      {% for group in request.user.groups.all %}
       <!-------------------------------------------- Base HTML para grupo cliente------------------------------------------>
        {% if group.name == 'Cliente' %}
          {% if request.get_full_path == view %} 
          <div class="hero_area ">
            <!-- header section strats -->
            <header class="header_section">
              <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="{% url 'Index'%}">
                    <span style="color:whitesmoke">
                      MusicPro
                    </span>
                  </a>
                  <div class="" id="">
                    <div class="User_option">
                      <a href="{% url 'carrito'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="black" class="bi bi-bag" viewBox="0 0 16 16">
                          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>
                        <h5 style="color:black; padding: 5px;"> {{cantidad_carrito}} </h5>
                      </a>
                    </div>
        
                    <div class="custom_menu-btn">
                      <button onclick="openNav()">
                        <span class="s-1">
        
                        </span>
                        <span class="s-2">
        
                        </span>
                        <span class="s-3">
        
                        </span>
                      </button>
                    </div>
                    <div id="myNav" class="overlay">
                      <div class="overlay-content">
                        <a href="{% url 'Index'%}">Inicio</a>
                        <a href="{% url 'Product'%}">Productos</a>
                        <a href="{% url 'Blog'%}">Novedades</a>
                        <a href="{% url 'Contactanos'%}">Contáctanos</a>
                        <a href="{% url 'logout'%}">Cerrar sesion</a>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </header>
          {%else%}
          <div class="hero_area ">
            <!-- header section strats -->
            <header class="header_section">
              <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="{% url 'Index'%}">
                    <span>
                      MusicPro
                    </span>
                  </a>
                  <div class="" id="">
                    <div class="User_option">
                      <a href="{% url 'carrito'%}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="black" class="bi bi-bag" viewBox="0 0 16 16">
                          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                        </svg>
                        <h5 style="color:black; padding: 5px;"> {{cantidad_carrito}} </h5>
                      </a>
                    </div>
        
                    <div class="custom_menu-btn">
                      <button onclick="openNav()">
                        <span class="s-1">
        
                        </span>
                        <span class="s-2">
        
                        </span>
                        <span class="s-3">
        
                        </span>
                      </button>
                    </div>
                    <div id="myNav" class="overlay">
                      <div class="overlay-content">
                        <a href="{% url 'Index'%}">Inicio</a>
                        <a href="{% url 'Product'%}">Productos</a>
                        <a href="{% url 'Blog'%}">Novedades</a>
                        <a href="{% url 'Contactanos'%}">Contáctanos</a>
                        <a href="{% url 'logout'%}">Cerrar sesion</a>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </header>
          {% endif %}
        {% endif %}
        <!-------------------------------------------- Base HTML para grupo bodeguero------------------------------------------>
        {% if group.name == 'Bodeguero' %}
          {% if request.get_full_path == view %} 
          <div class="hero_area ">
            <!-- header section strats -->
            <header class="header_section">
              <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="{% url 'Index'%}">
                    <span style="color:whitesmoke">
                      MusicPro
                    </span>
                  </a>
                <div class="" id="">
        
                    <div class="custom_menu-btn">
                      <button onclick="openNav()">
                        <span class="s-1">
        
                        </span>
                        <span class="s-2">
        
                        </span>
                        <span class="s-3">
        
                        </span>
                      </button>
                    </div>
                    <div id="myNav" class="overlay">
                      <div class="overlay-content">
                        <a href="{% url 'Index'%}">Inicio</a>
                        <a href="{% url 'ordenesbodeguero' %}">ordenes</a>
                        <a href="{% url 'productobodega' %}">Productos</a>
                        <a href="{% url 'logout'%}">Cerrar sesion</a>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </header>
          {%else%}
          <div class="hero_area ">
            <!-- header section strats -->
            <header class="header_section">
              <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="{% url 'Index'%}">
                    <span>
                      MusicPro
                    </span>
                  </a>
                <div class="" id="">
        
                    <div class="custom_menu-btn">
                      <button onclick="openNav()">
                        <span class="s-1">
        
                        </span>
                        <span class="s-2">
        
                        </span>
                        <span class="s-3">
        
                        </span>
                      </button>
                    </div>
                    <div id="myNav" class="overlay">
                      <div class="overlay-content">
                        <a href="{% url 'Index'%}">Inicio</a>
                        <a href="{% url 'ordenesbodeguero' %}">ordenes</a>
                        <a href="{% url 'productobodega' %}">Productos</a>
                        <a href="{% url 'logout'%}">Cerrar sesion</a>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </header>
          {% endif %}
        {% endif %}
        <!-------------------------------------------- Base HTML para grupo contador------------------------------------------>
        {% if group.name == 'Contador' %}
        {% if request.get_full_path == view %}   
        <div class="hero_area ">
             <!-- header section strats -->
             <header class="header_section">
               <div class="container-fluid">
                 <nav class="navbar navbar-expand-lg custom_nav-container">
                   <a class="navbar-brand" href="{% url 'Index'%}">
                     <span style="color:whitesmoke">
                       MusicPro
                     </span>
                   </a>
                 <div class="" id="">
         
                     <div class="custom_menu-btn">
                       <button onclick="openNav()">
                         <span class="s-1">
         
                         </span>
                         <span class="s-2">
         
                         </span>
                         <span class="s-3">
         
                         </span>
                       </button>
                     </div>
                     <div id="myNav" class="overlay">
                       <div class="overlay-content">
                        <a href="{% url 'Index'%}">Inicio</a>
                        <a href="{% url 'pagoscontador'%}">Pagos</a>
                        <a href="{% url 'entregascontador'%}">Entregas</a>
                        <a href="{% url 'logout'%}">Cerrar sesion</a>
                       </div>
                     </div>
                   </div>
                 </nav>
               </div>
             </header>
       {% else %}
       <div class="hero_area ">
         <!-- header section strats -->
         <header class="header_section">
           <div class="container-fluid">
             <nav class="navbar navbar-expand-lg custom_nav-container">
               <a class="navbar-brand" href="{% url 'Index'%}">
                 <span>
                   MusicPro
                 </span>
               </a>
             <div class="" id="">
       
                 <div class="custom_menu-btn">
                   <button onclick="openNav()">
                     <span class="s-1">
       
                     </span>
                     <span class="s-2">
       
                     </span>
                     <span class="s-3">
       
                     </span>
                   </button>
                 </div>
                 <div id="myNav" class="overlay">
                  <div class="overlay-content">
                    <a href="{% url 'Index'%}">Inicio</a>
                    <a href="{% url 'pagoscontador'%}">Pagos</a>
                    <a href="{% url 'entregascontador'%}">Entregas</a>
                    <a href="{% url 'logout'%}">Cerrar sesion</a>
                   </div>
                 </div>
               </div>
             </nav>
           </div>
         </header>
       {% endif %}
        {% endif %}
        <!-------------------------------------------- Base HTML para grupo vendedor------------------------------------------>
        {% if group.name == 'Vendedor' %}
        {% if request.get_full_path == view %}      
            <div class="hero_area ">
             <!-- header section strats -->
             <header class="header_section">
               <div class="container-fluid">
                 <nav class="navbar navbar-expand-lg custom_nav-container">
                   <a class="navbar-brand" href="{% url 'Index'%}">
                     <span style="color:whitesmoke">
                       MusicPro
                     </span>
                   </a>
                 <div class="" id="">
         
                     <div class="custom_menu-btn">
                       <button onclick="openNav()">
                         <span class="s-1">
         
                         </span>
                         <span class="s-2">
         
                         </span>
                         <span class="s-3">
         
                         </span>
                       </button>
                     </div>
                     <div id="myNav" class="overlay">
                       <div class="overlay-content">
                         <a href="{% url 'Index'%}">Inicio</a>
                         <a href="{% url 'productovendedor'%}">Productos</a>
                         <a href="{% url 'pedidosvendedor'%}">Pedidos</a>
                         <a href="{% url 'ordenesvendedor'%}">Ordenes</a>
                         <a href="{% url 'logout'%}">Cerrar sesion</a>
                       </div>
                     </div>
                   </div>
                 </nav>
               </div>
             </header>
           {% else %}
           <div class="hero_area ">
             <!-- header section strats -->
             <header class="header_section">
               <div class="container-fluid">
                 <nav class="navbar navbar-expand-lg custom_nav-container">
                   <a class="navbar-brand" href="{% url 'Index'%}">
                     <span>
                       MusicPro
                     </span>
                   </a>
                 <div class="" id="">
         
                     <div class="custom_menu-btn">
                       <button onclick="openNav()">
                         <span class="s-1">
         
                         </span>
                         <span class="s-2">
         
                         </span>
                         <span class="s-3">
         
                         </span>
                       </button>
                     </div>
                     <div id="myNav" class="overlay">
                       <div class="overlay-content">
                        <a href="{% url 'Index'%}">Inicio</a>
                        <a href="{% url 'productovendedor'%}">Productos</a>
                        <a href="{% url 'pedidosvendedor'%}">Pedidos</a>
                        <a href="{% url 'ordenesvendedor'%}">Ordenes</a>
                        <a href="{% url 'logout'%}">Cerrar sesion</a>
                       </div>
                     </div>
                   </div>
                 </nav>
               </div>
             </header>
       {% endif %}
        {% endif %}
        <!-------------------------------------------- Base HTML para grupo administrador (no necesario)------------------------------------------>
        {% if group.name == 'Administrador' %}
        {% if request.get_full_path == view %} 
        <div class="hero_area ">
          <!-- header section strats -->
          <header class="header_section">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="{% url 'Index'%}">
                  <span style="color:whitesmoke">
                    MusicPro
                  </span>
                </a>
              <div class="" id="">
      
                  <div class="custom_menu-btn">
                    <button onclick="openNav()">
                      <span class="s-1">
      
                      </span>
                      <span class="s-2">
      
                      </span>
                      <span class="s-3">
      
                      </span>
                    </button>
                  </div>
                  <div id="myNav" class="overlay">
                    <div class="overlay-content">
                      <a href="{% url 'Index'%}">Inicio</a>
                      <a href="#">ordenes</a>
                      <a href="#">Productos</a>
                      <a href="{% url 'logout'%}">Cerrar sesion</a>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </header>
        {%else%}
        <div class="hero_area ">
          <!-- header section strats -->
          <header class="header_section">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="{% url 'Index'%}">
                  <span>
                    MusicPro
                  </span>
                </a>
              <div class="" id="">
      
                  <div class="custom_menu-btn">
                    <button onclick="openNav()">
                      <span class="s-1">
      
                      </span>
                      <span class="s-2">
      
                      </span>
                      <span class="s-3">
      
                      </span>
                    </button>
                  </div>
                  <div id="myNav" class="overlay">
                    <div class="overlay-content">
                      <a href="{% url 'Index'%}">Inicio</a>
                      <a href="#">ordenes</a>
                      <a href="#">Productos</a>
                      <a href="{% url 'logout'%}">Cerrar sesion</a>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </header>
        {% endif %}
        {% endif %}
      {% endfor %}
       <!-------------------------------------------- Base HTML sin autenticacion------------------------------------------>
    {%else%}
    {% if request.get_full_path == view %} 
    <div class="hero_area ">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="{% url 'Index'%}">
              <span style="color:whitesmoke">
                MusicPro
              </span>
            </a>
            <div class="User_option">
              <a href="{% url 'carrito'%}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="black" class="bi bi-bag" viewBox="0 0 16 16">
                  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
                <h5 style="color:black; padding: 5px;"> {{cantidad_carrito}} </h5>
              </a>
            </div>
              <div class="custom_menu-btn">
                <button onclick="openNav()">
                  <span class="s-1">
  
                  </span>
                  <span class="s-2">
  
                  </span>
                  <span class="s-3">
  
                  </span>
                </button>
              </div>
              <div id="myNav" class="overlay">
                <div class="overlay-content">
                  <a href="{% url 'Index'%}">Inicio</a>
                  <a href="{% url 'Product'%}">Productos</a>
                  <a href="{% url 'Blog'%}">Novedades</a>
                  <a href="{% url 'Contactanos'%}">Contáctanos</a>
                  <a href="{% url 'Registrarse'%}">Registrarse</a>
                  <a href="{% url 'login'%}">Iniciar sesion</a>
                </div>
              </div>
            </nav>
            </div>
      </header>
      {%else %}
      <div class="hero_area ">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="{% url 'Index'%}">
                <span>
                  MusicPro
                </span>
              </a>
              <div class="User_option">
                <a href="{% url 'carrito'%}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="black" class="bi bi-bag" viewBox="0 0 16 16">
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                  </svg>
                  <h5 style="color:black; padding: 5px;"> {{cantidad_carrito}} </h5>
                </a>
              </div>
                <div class="custom_menu-btn">
                  <button onclick="openNav()">
                    <span class="s-1">
    
                    </span>
                    <span class="s-2">
    
                    </span>
                    <span class="s-3">
    
                    </span>
                  </button>
                </div>
                <div id="myNav" class="overlay">
                  <div class="overlay-content">
                    <a href="{% url 'Index'%}">Inicio</a>
                    <a href="{% url 'Product'%}">Productos</a>
                    <a href="{% url 'Blog'%}">Novedades</a>
                    <a href="{% url 'Contactanos'%}">Contáctanos</a>
                    <a href="{% url 'Registrarse'%}">Registrarse</a>
                    <a href="{% url 'login'%}">Iniciar sesion</a>
                  </div>
                </div>
              </nav>
              </div>
        </header>
      {%endif%}
    {% endif %}
 
      <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
      <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
    
    
</body>
</html>
