{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MusicPro</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css'%}" rel="stylesheet" />
</head>
<body class="sub_page">
            <!-- header section strats -->
            <header class="header_section">
              <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="{% url 'Index'%}">
                    <span style="color:black">
                      MusicPro
                    </span>
                  </a>
                </div>
            </header>
<div class="container" style="text-align: center ;margin-top:100px">
  <p style="color:black;  text-align: center; font-size: 25px;font-weight: bold; margin-bottom: 40px;">Selecciona tu metodo de pago <br/>
  <!-- product section -->
<!-- Se crea un script de js para llamar al sdk de paypal, luego se coloca el la key del cliente junto con su divisa -->
<script src="https://www.paypal.com/sdk/js?client-id=AVZupC86YnGnWrTCqh2EmzL1Ll18cx4sNkVkewSVSISj4kmT6XttDALrPMOhDoT09F-zFpOCgfn1RB9K&currency=USD"></script>
<div id="paypal-button-container"></div>
</div>
<!-- Se crea un script para los botones de paypal y crear la orden -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  paypal.Buttons({
    // Crea la configuracion del pago una vez se presiona el boton
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{total_carrito_dolar}}' 
          }

        }]
        
      });

    },
    // Finaliza la transaccion una vez se aprueba el pago
    // en onapprove captura los datos
    onApprove: (data, actions) => {
      //document.location.href ="{% url 'CLS' %}";
      return actions.order.capture().then(function(orderData) {
        const transaction = orderData.purchase_units[0].payments.captures[0];
        //alert("Compra realizada con exito");
        //document.location.href="{% url 'limpiarcompra' %}";
        Swal.fire({
          position: 'center',
          icon: 'success',
          title: '¡Pago realizado con éxito!',
          text: "Muchas gracias por tu compra",
          showConfirmButton: true,
          denyButtontText: 'Continuar comprando',
          //timer: 5000
          }).then(() =>{
            document.location.href="{% url 'limpiarcompra' %}";
          })
      });

    }
  }).render('#paypal-button-container');
</script>

</body>