
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MusicPro</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css'%}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css'%}" rel="stylesheet" />
</head>

<body class="sub_page">
    <!-------------------------------------------- HTML para algun rol del vendedor se puede cambiar como quieran------------------------------------------>
  {% include "headerVendedor.html" %}


  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_social-container">
        <h5>
          Siguenos
        </h5>
        <div class="info_social">
          <div>
            <a href="">
              <img src="{% static 'images/facebook-logo-button.png'%}" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{% static 'images/twitter-logo-button.png'%}" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{% static 'images/linkedin.png'%}" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="{% static 'images/instagram.png'%}" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        
        <div class="col-md-2 offset-lg-1">
          <h6>
            Menu
          </h6>
          <ul>
            <li class=" active">
              <a class="" href="{% url 'Index' %}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="{% url 'Product'%}">Productos </a>
            </li>
            <li class="">
              <a class="" href="{% url 'Blog'%}">Novedades </a>
            </li>
            <li class="">
              <a class="" href="{% url 'Contactanos'%}">Contactanos</a>
            </li>
          </ul>
        </div>
        
        <div class="col-md-4 col-lg-3">
          <h6>
            Contactanos
          </h6>
          <div class="info_link-box">
            <a href="">
              <img src="{% static 'images/location-white.png'%}" alt="">
              <span> No.123, loram ipusm</span>
            </a>
            <a href="">
              <img src="{% static 'images/call-white.png'%}" alt="">
              <span>+01 12345678901</span>
            </a>
            <a href="">
              <img src="{% static 'images/mail-white.png'%}" alt="">
              <span> demo123@gmail.com</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved. Design by
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </section>
  <!-- end  footer section -->


  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>

</body>

</html>